* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 6% 88% 6%;
    height: 100vh;
}

#page-header {
    grid-row-start: 1;
    h1 {
        user-select: none;
    }
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0.8em 0.1em #000;
    #username {
        padding-inline: 1em;
        width: 10%;
        border-radius: 0.7em;
        background-color: #fff;
        outline: none;
        border: 2px solid #ccc;
        cursor: pointer;
        transition: border 200ms;
    }
    #username:hover {
        border: 2px solid #000;
    }
    dialog[open] {
        display: flex;
        width: 8%;
        height: 8%;
    }
    dialog {
        top: 46%;
        left: 46%;
        padding: 0.4em 0.6em;
        border: 3px solid #ccc;
        border-radius: 0.3em;
        flex-direction: column;
        gap: 0.5em;
        #close-button {
            align-self: flex-end;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            cursor: pointer;
            border: none;
            svg {
                width: 1.4em;
                height: 1.4em;
            }
        }
        #logout-button {
            background-color: #fff;
            border: 2px solid #ccc;
            padding: 0.3em 0.5em;
            border-radius: 0.3em;
            color: #888;
            transition:
                color 200ms,
                border 200ms;
            cursor: pointer;
        }
        #logout-button:hover {
            color: #000;
            border: 2px solid #000;
        }
    }
}

#page-main {
    grid-row-start: 2;
    display: grid;
    grid-template-rows: 8% 92%;
    grid-template-columns: 8% 84% 8%;
    padding: 0.5em;
    overflow-y: hidden;
    #main-header {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 4;
        border-bottom: 2px solid #bbb;
        padding-bottom: 0.2em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        form {
            display: flex;
            grid-row-start: 1;
            grid-row-end: 1;
            justify-content: center;
            gap: 0.5em;
            input {
                border-radius: 0.3em;
                border: 2px solid #ccc;
                padding-inline: 0.7em;
                transition: border 200ms;
            }
            input:focus {
                outline: none;
                background-color: #fff;
                border: 2px solid #777;
            }
            #search-name {
                padding: 0.4em 0.7em;
            }
            select {
                padding-inline: 0.7em;
                border-radius: 0.3em;
                border: 1px solid #ccc;
                outline: none;
                background-color: #fff;
                transition: border-color 300ms;
            }
            select:focus {
                border-color: #777;
            }
        }
        div {
            display: flex;
            gap: 1em;
            a {
                background-color: #fff;
                color: #888;
                padding: 0.3em 0.9em;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0.3em;
                border: 2px solid #888;
                text-decoration: none;
                font-weight: bold;
                transition:
                    color 200ms,
                    border-color 200ms;
            }
            a:hover {
                border: 2px solid #000;
                color: #000;
            }
            p {
                font-size: 1.3em;
                font-weight: bold;
            }
        }
    }
    #links-sidebar {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        padding: 0.5em 0.3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        border-right: 2px solid #bbb;
        a {
            border: 2px solid #ccc;
            padding: 0.3em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 0.5em;
            width: 100%;
            font-size: 0.8em;
            text-decoration: none;
            color: #888;
            svg {
                fill: currentColor;
            }
            transition:
                color 200ms,
                border-color 200ms;
        }
        a:hover {
            color: #000;
            border-color: #000;
        }
    }
    #tasks-container {
        overflow-y: auto;
        grid-row-start: 2;
        grid-column-start: 2;
        grid-column-end: 2;
        padding: 0.7em;
        display: flex;
        justify-content: center;
        align-content: start;
        gap: 2em;
        flex-wrap: wrap;
        article {
            width: 25%;
            height: fit-content;
            padding: 0.8em;
            border: 2px solid #CCC;
            border-radius: .4em;
            display: flex;
            flex-direction: column;
            header {
                display: flex;
                justify-content: space-between;
                padding: .3em 0;
                border-bottom: 2px solid #CCC;
                div {
                    width: 15%;
                }
                #delete-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    border: 2px solid #a00;
                    border-radius: 0.3em;
                    width: 15%;
                    color: #a00;
                    svg {
                        fill: currentColor;
                        width: 1.3em;
                        height: 1.3em;
                    }
                    transition:
                        color 200ms,
                        border 200ms;
                    cursor: pointer;
                }
                #delete-button:hover {
                    color: #f00;
                    border: 2px solid #f00;
                }
                #delete-button:focus {
                    outline: none;
                }

                #done-input {
                    border: 2px solid #ccc;
                    width: 15%;
                    cursor: pointer;
                    border-radius: 0.3em;
                    transition: border 200ms;
                }
                #done-input:hover {
                    border: 2px solid #000;
                }
            }
            main {
                display: flex;
                flex-direction: column;
                gap: .3em;
                justify-content: center;
                padding: .7em 0;
                p {
                    color: #555;
                    display: flex;
                    align-items: center;
                    gap: .8em;
                    user-select: none;
                    svg {
                        fill: currentColor;
                        color: #555;
                        width: 1.1em;
                    }
                }
            }
            footer {
                color: #555;
                border-top: 2px solid #CCC;
                display: flex;
                justify-content: center;
            }
            transition: border 200ms;
        }
        article:hover:not(.task-doned) {
            border: 2px solid #000;
        }
        article.task-doned {
            background-color: #EEE;
            user-select: none;
            pointer-events: none;
            header h3 {
                color: #555;
            }
        }
        #delete-dialog[open] {
            display: flex;
            width: 18%;
            height: 20%;
        }
        #delete-dialog {
            top: 40%;
            left: 41%;
            padding: 0.4em 0.6em;
            border: 3px solid #ccc;
            border-radius: 0.3em;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 0.5em;
            div {
                width: 100%;
                display: flex;
                gap: 0.3em;
            }
            div button {
                background-color: #fff;
                border: 2px solid #ccc;
                border-radius: 0.3em;
                padding: 0.3em 0.5em;
                width: 60%;
                color: #888;
                transition:
                    color 200ms,
                    border 200ms;
                cursor: pointer;
            }
            div button:hover {
                color: #000;
                border: 2px solid #000;
            }
        }
    }
    #info-sidebar {
        grid-row-start: 2;
        grid-column-start: 3;
        border-left: 2px solid #ccc;
        display: flex;
        flex-direction: column;
        padding: 0.5em 0.3em;
        align-items: start;
        gap: 0.4em;
        p {
            border-bottom: 2px solid #ccc;
            width: 100%;
            color: #000;
            display: flex;
            align-items: center;
            gap: 0.3em;
            user-select: none;
            svg {
                fill: currentColor;
                width: 1em;
                color: #888;
            }
        }
    }
}

#page-footer {
    grid-row-start: 3;
    padding: 1em .5em;
    border-top: 2px solid #CCC;
    box-shadow: 0 0 0.8em 0.1em #000;
    a {
        text-decoration: none;
        color: #555;
    }
}
